Repository grupoboticario/nestjs-sap-rfc: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

.lintstagedrc.json:

{
  "{src,apps,libs,test}/**/*.ts": ["npm run lint"],
  "./**/*.{ts,js,json}": ["npm run format"]
}

chore(release): 3.0.25 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  fbe248df00a769406f2a16529ff8ca34826d8d9a
Due: none

chore: bump versions
  package-lock.json
  package.json
Due: npm run format

chore: bump versions
  package-lock.json
  package.json
  test/.env.test
  test/app.e2e-spec.ts
  test/jest-e2e.json
Due: npm run lint, npm run format

chore(release): 3.0.26 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  3bd56503eacf72cfa0de75eff77558fb979ff359
Due: none

chore(release): 3.0.27 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

chore(release): 3.0.28 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  70/4cbb25df8059f86aecf62ec14f364bedf8039e
Due: none

chore(release): 3.0.29 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  7f/64a60bc321adf71da40c126a10cdaf157fc3c9
Due: none

chore(release): 3.0.30 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  07/458d825680a06267256084d3cf57d33e1e44fd
Due: none

chore: bump versions
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/fortify.yml
  .github/workflows/publish.yml
  .github/workflows/sonar.yml
Due: none

chore(release): 3.0.31 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  5d/b3070ba6bf5d993f19a350a47a91b0879d8c1e
Due: none

chore: adding test to .gitignore
  .gitignore
Due: none

chore(release): 3.0.32 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  e0/af42ddc00e11d7f06add59dba68346f70a3f9f
Due: none

chore(release): 3.0.33 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  fa/1b262f63f0d013b7e225800c12e4bac83c7f02
Due: none

feat: adding transaction
  lib/constants.ts
  lib/services/sap-client.service.ts
  lib/services/sap-pool.service.ts
  lib/services/sap-transaction.serivce.ts
Due: npm run format
